.App {
    text-align: center;
    font-family: "Berlin Sans FB";
}

div[id="leagueMenu"] {
    font-size: 40px;
}


div[id="pageTitle"] {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #2a7de1, #d3cdbd);
    padding: 10px 20px;

}

table[id="leaguesBar"] {
    background: black;
    width: fit-content;
    border: 2px solid black;
    border-spacing: 0 5px;
    position: absolute;

}

table[class="homePage"] {
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table[class="page"] {
    left: 50px;
    top: 150px;
    font-size: 30px;
}

tr[id="rowBar"] {
    background: rgba(241, 232, 232, 0.68);
}

table[id="leagueTable"] {
    font-size: 20px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-spacing: 5px;
}

tr[id="rowTable"] {
    background: rgba(241, 232, 232, 0.68);
    cursor: default;

}

td[id="tableTeamName"]:hover {
    cursor: pointer;
    color: dodgerblue;
}

tr[class="1"] {
    color: blue;
}

tr[class="bottom"] {
    color: red;
}
div[id="topScorer"]{

    font-size: 60px;
    width: fit-content;
    border: 3px solid black;
    background: rgba(200, 200, 232, 0.68);
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
div[class="playersList"] {
    width: fit-content;
    border: 3px solid black;
    background: rgba(241, 232, 232, 0.68);
    float: left;
    margin: 10px;
}

div[id="teamTitle"] {
    font-size: 35px;
    font-weight: bold;
    background: rgba(200, 200, 232, 0.68);
    border: 3px solid black;
}
div[class="rowBlock"]{
    border: 2px solid black;
}
div[id="teamDetails"]{
    font-size: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;

}
div[id="teamHistory"]{
    border: 2px solid black;
    float: right;
    margin: 10px;
    background: rgba(241, 232, 232, 0.68);;
}
div[class="subTitle"]{
    color: blue;
    font-weight: bold;
}
div[id="stats"]{
    font-size: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: #d3cdbd;
    border: 3px solid black;
}
div[class="blockInStats"]{
    border: 5px solid black;
    margin-top: 20px;
}



#navLink {
    text-decoration: none;
    margin: 20px;
    color: black;
}

#navLink:hover {
    color: aliceblue;
    background: black;

}

#navLink[class="isActive"] {
    color: aliceblue;
    background: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      width: 100px;
      height: 100px;
      animation: App-logo-spin infinite 20s linear;
      
      
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
